footer{
    margin-top: 30px;
}
img{
    height: 85vh;
    width: 45vw;
    /* margin:45px 41px 25px; */
}
.lk:hover{
    text-decoration: underline;
}
/* }
.po{
    justify-content: space-between;
}
.pi{
    justify-content: space-between;
} */
/* }
body{
    background-color: black;
} */